#
# Copyright (c) TESOBE Ltd. 2016.
#

build
target

*.class
*.iml
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.tgz

.DS_Store
.gradle
.idea

pom.xml.versionsBackup
settings.xml

a.json
a.txt
a.xml

gradle
gradlew*
hs_err_pid*

!gradle-wrapper.jar
