<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) TESOBE Ltd. 2016. All rights reserved.
  ~
  ~ Use of this source code is governed by a GNU AFFERO license
  ~ that can be found in the LICENSE file.
  ~
  -->
<configuration debug="false">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %-5level %d{HH:mm:ss.SSS} [%thread] %X{kafka} %c{30}.%method - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.apache.kafka" level="warn"/>

  <logger name="com.tesobe.obp" level="debug"/>
  <logger name="com.tesobe.obp.kafka" level="trace"/>
  <logger name="com.tesobe.obp.transport" level="trace"/>

  <root level="info">
    <appender-ref ref="console"/>
  </root>

</configuration>
