html {
  font-family: 'Open Sans', sans-serif;
}

#left {
  width: 200px;
  float: left;
  position: absolute;
  top: 1em;
  left: 1em;
}

#right {
  position: absolute;
  top: 1em;
  left: 200px;
}

.clear {
  clear: both;
}

table {
  border: silver thin solid;
  border-collapse: collapse;
}

td {
  border: silver thin solid;
  border-collapse: collapse;
  padding: 0.3em
}
